<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!--------------------------------------------------------- Required meta tags --------------------------------------------------------------->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!----------------------------------------------------------------- CSS ------------------------------------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>story9abc</title>
    <link rel="icon" type="image/gif/png" href="{% static 'Title.png'%}" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <style>
        #buttons button {
            padding: 10px 15px;
            background-color: #000000;
            color: #ffffff;
            margin-right: 0.5vw;
        }

        #buttons button:hover {
            background-color: #000000;
            color: black;
            border: 1px solid #000000 !important;
        }
    </style>
</head>

<body>
    <!------------------------------------------------------------------- BOOKS ------------------------------------------------------------------>

    <section id="booksPage" style="margin-right: 50px; margin-left: 50px; margin-top: 50px; margin-bottom: 50px;">
        <center>
            <h1>
                <div id="booksTitle">Database of Books</div>
            </h1>
            <br>
            <div class="search" style="max-width: 50vw;">
                <input id="search" type="text" class="searchTerm" placeholder="Find Title or Author">
                <button id="searchButton" type="submit" class="searchButton">Search</button>
            </div>
            <br>
            <br>
        </center>
        <div id="results"></div>
        <br>
        <center>
            <div id="buttons">
            </div>
        </center>
        <div id="modalDisplay"></div>
    </section>

    <!------------------------------------------------------------------ JS ---------------------------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>