/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEAD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to left, #B9CBD9, #E9EAEC);
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVIGATION BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#logo {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.navbar {
    background-image: url("/static/Header.0ca3e4bd74fa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.3 rem 7 rem;
    border-bottom: 3px solid #e3f2fd;
}

.dropdown-item {
    height: 33px;
}

.navbar .navbar-brand {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.navbar .navbar-brand:hover {
    color: #e3f2fd;
}

.navbar .navbar-nav li a {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar .navbar-nav li a:hover {
    color: #e3f2fd !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: #35526F !important;
    background-color: white !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: black !important;
    background-color: #e3f2fd !important;
}

.navbar-toggler {
    background-color: white !important;
    margin-left: 75px;
}

nav {
    position: absolute;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MY BOOKS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#favouriteBooksPage {
    background-image: linear-gradient(to left, #B9CBD9, #E9EAEC);
}

#favouriteBooksTitle {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #35526F;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 3vw;
}