/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEAD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVIGATION BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#logo {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.navbar {
    background-image: url("/static/Header.0ca3e4bd74fa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.3 rem 7 rem;
    border-bottom: 3px solid #e3f2fd;
}

.dropdown-item {
    height: 33px;
}

.navbar .navbar-brand {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.navbar .navbar-brand:hover {
    color: #e3f2fd;
}

.navbar .navbar-nav li a {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar .navbar-nav li a:hover {
    color: #e3f2fd !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: #35526F !important;
    background-color: white !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: black !important;
    background-color: #e3f2fd !important;
}

.navbar-toggler {
    background-color: white !important;
    margin-left: 80px;
}

nav {
    position: absolute;
}